.navbar {
    background-color: #3498db;
    padding: 10px;
}

.navbar-list {
    list-style-type: none;
    padding: 0;
}

.navbar-list li {
    display: inline-block;
    margin-right: 10px;
}

.navbar-list li a {
    color: #fff;
    text-decoration: none;
}

.navbar-list li a:hover {
    text-decoration: underline;
}