.update-note-form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.update-note-form-container h1 {
    margin-bottom: 20px;
    text-align: center;
}

.update-note-form-container label {
    display: block;
    margin-bottom: 5px;
}

.update-note-form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.update-note-form-container button {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.update-note-form-container button:last-child {
    margin-right: 0;
}

.update-note-form-container button:nth-child(odd) {
    background-color: #3498db;
    color: #fff;
}

.update-note-form-container button:nth-child(even) {
    background-color: #e74c3c;
    color: #fff;
}

.update-note-form-container button:hover {
    opacity: 0.8;
}